@import './mediaQueries.scss';

$mimirBlue: #172a52;
$textGray: #666666;
$containerBackground: #ffffff;
$siteBackground: #e5e5e5;

// width for custom-container
$min-container: 320px;
$sm-container: 360px;
$md-container: 708px;
$lg-container: 1140px;
