@import '../../../sass/shared.scss';

.subjects-panel {
  @include media-query('md') {
    height: 310px;
  }

  &__cards-container {
    background-color: $containerBackground;
    display: grid;
    grid-template-columns: 1fr 1fr;
    overflow-x: auto;

    @include media-query('md') {
      grid-template-columns: unset;
      grid-auto-flow: column;
      grid-auto-columns: 150px;
      grid-template-rows: 1fr 1fr;
      row-gap: 25px;
      height: 100%;
      padding: 20px;
    }
  }

  &__card-item {
    width: 100%;
    padding: 0;
    margin: 0;

    @include media-query('md') {
      width: 125px;
    }
  }
}
