@import '../../sass/shared.scss';

.welcome {
  @include media-query('md') {
    padding: 30px 0;
  }

  @include media-query('lg') {
    padding: 40px 0;
  }

  &__teaser {
    color: $textGray;
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    margin: 40px 0;
  }

  &__signup {
    margin-left: 25px;
  }
}
