@import '../../../../sass/shared.scss';

.subject-card {
  cursor: pointer;
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: $containerBackground;
  margin-bottom: 15px;

  &:hover {
    opacity: 0.75;
  }

  @include media-query('md') {
    margin-bottom: unset;
  }

  &.left {
    align-items: flex-start;
    @include media-query('md') {
      justify-content: center;
    }
  }

  &.right {
    align-items: flex-end;
    @include media-query('md') {
      align-items: flex-start;
      justify-content: center;
    }
  }

  &__delete-subject {
    position: absolute;
    z-index: 1;
    right: 5px;
    top: 0px;
    width: 18px;
    height: 18px;
  }

  &__delete-icon {
    width: 100%;
    height: 100%;
  }

  &__color-box {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 66px;

    @include media-query('md') {
      width: 125px;
    }
  }

  &__name {
    display: -webkit-box;
    width: 150px;
    font-size: 18px;
    font-weight: 600;
    line-height: 21px;
    height: 42px;
    text-overflow: ellipsis;
    overflow: hidden;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    color: $textGray;
    margin: 5px 0 0 0;

    @include media-query('md') {
      width: 125px;
      margin: 10px 0 0 0;
    }
  }
}
