@import '../../../sass/shared.scss';

.topic {
  position: relative;
  padding: 15px;
  box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.25);
  border-radius: 12px;
  border: 2px solid $siteBackground;
  margin-bottom: 25px;

  &:hover {
    background-color: $siteBackground;
  }

  @include media-query('md') {
    margin-bottom: 0;
  }

  &__container {
    cursor: pointer;
  }

  &__delete-topic {
    position: absolute;
    z-index: 1;
    top: 10px;
    right: 15px;
    width: 18px;
    height: 18px;
  }

  &__delete-icon {
    width: 100%;
    height: 100%;
    .stroke {
      // topic__delete-icon.stroke
      stroke: black;
    }
  }

  &__wrapping-button {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
  }
  &__name {
    font-size: 24px;
    line-height: 28px;
    font-weight: 700;
    margin-bottom: 20px;
    margin-right: 20px;
  }

  &__total-revisions {
    font-weight: 600;
    color: $textGray;
    margin-bottom: 15px;
  }

  &__technique-label {
    margin-bottom: 5px;
  }

  &__next-technique {
    font-weight: 600;
    margin-bottom: 15px;
    height: 42px;
  }

  &__due-date {
    font-weight: 600;
    color: $textGray;
    margin: 0;

    &--is-due {
      color: $alarm;
    }
  }
}
