@import '../node_modules/bootstrap/scss/bootstrap';
@import './sass/shared.scss';

* {
  box-sizing: border-box;
}

.App {
  @include media-query('md') {
    background-color: $siteBackground;
    min-height: 100vh;
  }
}

h2 {
  font-size: 28px;
  font-weight: 700;
}
